{include file='index/header' /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>test</title>
<script>
    function disnone(){
        document.getElementById("pp").style.display="none";
        document.getElementById("final").style.display="inline";
    }
</script>
</head>
<?php
    function lo(){
        echo "<script>alert('aaaa');</script>";
    }
?>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills">
				<li class="active">
					 <a href="{:url('member')}">首页</a>
				</li>
				<li>
					 <a href="{:url('display_release')}">二手发布</a>
				</li>
				<li>
					 <a href="{:url('display_buy')}">二手收购</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="{:url('mysellbill')}">我的出售</a>
						</li>
                        <li>
							 <a href="{:url('mybuybill')}">我的收购</a>
						</li>
						<li>
							 <a href="{:url('secondhand_release')}">该出售时就出售</a>
						</li>
						<li>
							 <a href="{:url('secondhand_buy')}">不出售时就收购</a>
						</li>
						<li>
							 <a href="{:url('index/display_changepw')}">修改密码</a>
						</li>
						<li class="divider">
						</li>
						<li>
							 <a href="{:url('logout')}">退出</a>
						</li>
					</ul>
				</li>
			</ul>
            <p id="pp">
				 <em>Hey!!</em> 在这里你可以买你所买、卖你所卖!!<strong>(假的!!)</strong>
			</p>
		</div>
	</div>
</div>
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/bootstrap.js"></script>
</body>
</html>
