{include file='index/header' /}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http:// www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="__STATIC__/admin/css/bootstrap.css">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>test</title>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills">
				<li class="active">
					 <a href="{:url('member')}">首页</a>
				</li>
				<li>
					 <a href="{:url('display_release')}">二手发布</a>
				</li>
				<li>
					 <a href="{:url('display_buy')}">二手收购</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">个人中心<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							 <a href="{:url('mybill')}">我的单单</a>
						</li>
						<li>
							 <a href="{:url('secondhand_release')}">该出售时就出售</a>
						</li>
						<li>
							 <a href="{:url('secondhand_buy')}">不出售时就收购</a>
						</li>
						<li>
							 <a href="{:url('index/display_changepw')}">修改密码</a>
						</li>
						<li class="divider">
						</li>
						<li>
							 <a href="{:url('logout')}">退出</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <hr><span class="label label-default">我的发布</span>
			<div class="row clearfix">
             {volist name='list' id='goods'}
				<div class="col-md-4 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
							用户：{$goods.username}
                            </h3>
						</div>
						<div class="panel-body">
							标题：<a href="{:url('display_goods')}?id='{$goods.id}'">{$goods.title}</a>
						</div>
						<div class="panel-footer">
                            {$goods.datatime}
                <a href="{:url('r_delete')}?id={$goods.id}">删除</a>
						</div>
					</div>
				</div>
                {/volist}
                <div class="col-md-12 column">
                <center>
                {$listbuy->render()}</center></div>
			</div> 
        </div>
    </div>
</div> 
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
            <hr><span class="label label-default">我的收购</span>
			<div class="row clearfix">
                {volist name='listbuy' id='goods'}
				<div class="col-md-4 column">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								用户：{$goods.username}
							</h3>
						</div>
						<div class="panel-body">
							标题：<a href="{:url('display_buygoods')}?id='{$goods.id}'">{$goods.title}</a>
						</div>
						<div class="panel-footer">
                            {$goods.datatime} 
               <a href="{:url('b_delete')}?id={$goods.id}">删除</a>
						</div>
					</div>
				</div>
                {/volist}
                <div class="col-md-12 column">
                <center>
                {$listbuy->render()}</center></div>
			</div>
		</div>
	</div>
</div>
<script src="__STATIC__/admin/js/jquery.js"></script>
<script src="__STATIC__/admin/js/bootstrap.js"></script>
</body>
</html>

